@using Microsoft.AspNetCore.Mvc.Routing

@model string

@if (!string.IsNullOrEmpty(Model))
{
    await Html.RenderPartialAsync("ShowPopUp", Model);
}

<form method="post" asp-controller="Home" asp-action="LoginPost">
    <div>
        <input type="text" name="Email" required/>
        <label>Email</label>
    </div>
    <div>
        <input type="text" name="Password" class="toggleable" required/>
        <label>Password</label>
    </div>
    <div>
        <input type="text" name="ImapServer" class="toggleable" required/>
        <label>IMapServer</label>
    </div>
    <div>
            <input type="number" name="ImapPort" class="toggleable" required/>
            <label>ImapPort</label>
        </div>
    <div>
        <input type="text" name="SmtpServer" class="toggleable" required/>
        <label>SmtpServer</label>
    </div>
    <div>
        <input type="number" name="SmtpPort" class="toggleable" required/>
        <label>SmtpPort</label>
    </div>
    
    <div>
        <input type="checkbox" name="Google" class="toggle" value="false" onchange="this.value=this.checked"/>
        <label>Google</label>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>

@section scripts{
    <script src="~/js/toggleInputs.js"></script>
}